<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Personal Site</title>

</head>
<body bgcolor="#fff0f5">

<h1 align="center" style="color: firebrick"> Zhebin Nikita Gennadevich </h1>

<hr color="brown" size="2" />

<h1 align="left" style="color: firebrick"> My biography: </h1>

<div>

        <p align="left" style="color: brown">
            <b>
                <i>
                    Hello, my name is written above in the header of the page. So... A'll tell u some personal info about me.
                </i>
            </b>
        </p>

    <p align="justify" style="color: coral">
        If u wanna know what are my drives, I can assure u that almost every thing in my life related with
        programming and ability to spend all the time as productively as possible. At the moment since 2017
        I consider myself like a Java Developer. It means that I create all my programming stuff using this language.
        To be more correct, I create Mobile Apps for Android OS and recently began my way in Java Web Devepoling.
        Now I have a task - create a site with great server side and so-so style of front.
    </p>

    <p align="center" style="color: chocolate;">
        Copyright @ Zhebin N.G. 2018
    </p>

</div>


</body>
</html>